@keyframes fade-in {
  from { opacity: 0; };
  to { opacity: 1 };
}

@keyframes slide-in {
  from { translate: 0 5%; };
  to { translate: 0 0; };
}

@keyframes slide-in-full {
  from { translate: 0 100%; };
  to { translate: 0 0; };
}

@keyframes handheld {
  0% { translate: 0 0; }
  50% { translate: 0 2.5%; }
  100% { translate: 0 0; }
}

html,
body {
  font-family: serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  color: #12548e;
}

body {
  min-width: 100vw;
  min-height: 100vh;
  overflow: hidden;
}

@keyframes dreamz {
  from {
    filter: hue-rotate(0deg) saturate(1.6);
  }
  to {
    filter: hue-rotate(360deg) saturate(1.6);
  }
}

a,
a:visited {
  color: #ffb5bd;
  text-decoration: none;
}

.map-container {
  height: 100vh;
}

.map-container canvas {
  animation: dreamz 240s infinite;
}

.overlay {
  align-items: center;
  background: black;
  color: white;
  display: flex;
  height: 100vh;
  justify-content: center;
  flex-direction: column;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 5;
  opacity: 1;
}

.overlay[hidden] {
  opacity: 0;
  pointer-events: none;
}

.overlay--full {
  background: black;
  transition: opacity 2s linear;
}

.overlay p {
  margin: 1.618rem 0 0;
}

#golden-ratio {
  width: 50vw;
}

p.subtitle {
  margin-top: 0;
}

.text-overlay {
  font-family: monospace;
  font-size: 1.618rem;
  color: white;
  position: absolute;
  text-align: center;
  text-shadow: 0 0 10px black;
  width: 100%;
  z-index: 4;
}

#text-display {
  top: 2rem;
}

.text-display-inline {
  background-image: linear-gradient(45deg, #0e0e9caa 0%, #7b192aaa 100%);
  line-height: 1.618;
}

#status-display {
  font-size: 2.618rem;
  bottom: 50%;
  visibility: hidden;
}

#status-display.fade-in {
  animation: fade-in 1s;
  visibility: visible;
}

.crystal-ball-decor:before {
  content: "\1f52e ";
}

.fake-captcha {
  position: fixed;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  background: #f9f9f9;
  color: #4c4a4b;
  z-index: 6;
  padding: 1rem;
  border: solid 1px #d3d3d3;
  border-radius: 3px;
  box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.08);
}

.fake-captcha input {
  display: none;
}

.fake-captcha__checkbox {
  display: inline-block;
  height: 28px;
  width: 28px;
  border: 2px solid #c1c1c1;
  border-radius: 2px;
  background-color: white;
  vertical-align: middle;
  margin-right: 12px;
  position: relative;
}

@keyframes checkmark-bg {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 0 -600px;
  }
}

.fake-captcha__checkbox:hover {
  border: 2px solid #b2b2b2;
}

.fake-captcha__checkbox--checked,
.fake-captcha__checkbox--checked:hover {
  border: none;
  background: transparent;
}

.fake-captcha__checkbox--checked .icon {
  background-repeat: no-repeat;
  border: none;
  height: 30px;
  left: -5px;
  outline: 0;
  position: absolute;
  width: 38px;
  font-size: 1px;
  animation: checkmark-bg 500ms forwards steps(20, end);
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACYAAATsCAYAAADsAfBvAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAABIAAAASABGyWs+AAAACXZwQWcAAAAmAAAE7AAx5U8eAAAGSElEQVR42u3dMWicZQDG8dRo0FIrgqFFVCxWQaFD6VDnqiBCJ3NK1UVQsaOQQsAiKIoF7eLSwfLh0lXaKmZTEBQLgkNXRxHUqUvX+l6+7/guSQOXL5fLk9zvB++iwz0kl1zeP+llZgYAAAAAAGBHVb3T5TycNuqFcp5KG3VPOc94ygAAAADRqt7Zcs6ljXqrnH/LeTppVL/2XCvnmKcNAAAAEKuuPZ+ljerXnjvNOZ8yql97fm1G3cqqPlXvoXJ+KOek5zQAAABMt11Qe74oZ1/CqOHaMziXUsb1a88va8a9kfLp3F/Oj82oyxkfsdXjPihn1ncDAAAA9ga1Z/RRu672fJPRMFbXnsG5Us59KeO+WzPuejlzCePmyrk6NOz3cg6mfJXONp/Gm+XMp30Lmc17PzIAAIAJ3orUnlFHqT1dx6k9XcetrT39s1zOws4/79racyfvi6Ied/ku4xYTPq37mo/SYNTPK1/BQd+ALzRfsfsTX7LmZgAAgBF+dFZ7Rh21h2pP1ft85VM/oXGj1Z76jjn4/xMdt3HtWT2qf36bXEPbuPZ8uea/3Zh8Lti49uzgqNXjLmeNasepPVv7ogAAAEb40blb7al6H5dzartGdas97c389vjHda0963PBT9vxEdts7bkwuUtwt9ozoZv55mvPBHOB2rO1cWpP14FqDwAAW/qZ7YHEUUt5b0NR9T4auheMeVz32rP2EvzH+IZtvfZsw9VufLVnG+6bao/ao/aoPWoPAMAUhpWllZ/fAkcNftq9kDhqEFcOJNWeMRcftUftUXvUHrVH7VF7AICsF/3jqWFlgm870a1hnEkNK/NGqT1qj9qj9qg9ao/ao/YAwIReXxfyXmPbm/n1nHHrc8FFYcUotUftUXvUHrVH7VF71B4Apj2sPJ84anAJXkocNTjvCCtGqT1qj9qj9qg9ao/ao/YAMO1h5f7UsBL3PrFLWRdgucAotUftUXvUHrVH7VF71B4AuOurxvvlPJZYe/o/APyZM279Jfiq2mOUUWqP2qP2qD1qj9qj9qg9ANMeVmYTRy3lvaStvm+GjLv7JfgRN3OjjFJ71B61R+1Re9QetUftAZjm2nMstfbE//2k11Jrj5u5UUapPWqP2qP2qD1qj9qj9gBMde15Ne+Vo73aBb2srb9vXlJ7jDJK7VF71B61R+1Re9QetQeAwG/Qb3uLnI73zatqj1FGqT1qj9qj9qg9ao/ao/YAEPgN+r28f83VXu3+Kedoau1ZVnuMMkrtUXvUHrVH7VF71B61BwC1R+1xMzfKKLVH7VF71B61R+1Re9QeANQetcfN3Cijpqr2HCvnw7Ta82w5/2XVnvoBvlV71B61R+1Re9QeANQetccoo4yKrj31AxzOqj31Axxtik9U7TlSzl9qj9qj9qg9ao/aA4Dao/YYZZRR0bWn+31gG2tP+0CHcmpP+0CPN9UnpPbUD/Ro8xcH1B61R+1Re9QeANQetcfN3Cij1J7c2rO1URFXux0aVfVez6g9qx/4k6zaUz/wgtqj9qg9ag8Aao/a42ZulFFqj9pjlFGTH/NKOdcyak876lQ5t/PCStX7Su1RewBQe9QeN3OjjFJ71B6jjNolo17OG7X+I3Yjq2HU487mjQKAPUDt6X7fVHuMMmqqR6k9csG4R802/14pMhfMNeMic0F/3EE/0wEADP+IpPZ0vW+qPUYZNdWjImvPgWZIUO1px8034yJzwbzfLgAAYA9Re7rfN9Ueo/bkqMW8UfWw4behuJnTMNpxN7JGteP2zQAAANNF7el+M1d7jBrHsEt5owaJoB53M69h1OP8sw0AAICNbk1qT9dcoPZsNGohNazMDb0nRtwvh/THXcz85RAAAAB2FbVn86Oias/xzLBSjzubGVbqcWeEFQAAAPYmtWf0Uafzak89rP9XXK6k/sZKf9ynwgoAAABM8DYeWXsW82pPPWz4fWKX0z5q3icWAAAASK09h8u5lVd76nEnm3HLiZ/OE36NBgAAAKZb1Xs3r/bUw94s5++82tOO+z71U3qv5zUAAABMr6r3Umrt6f+Joq9Ta09/3DlPHwAAACBO1XuinOdSx71YzpHUcSc8fQAAAIA4Ve/BleITOu7J3HehqXqHPH0AAAAAAAAAALr5H72AWmG4R73sAAAAAElFTkSuQmCC);
}

.fake-captcha__label {
  display: inline-block;
  vertical-align: middle;
  font-family: Roboto, helvetica, arial, sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 17px;
}

.fake-captcha__logo {
  display: inline-block;
  font-size: 10px;
  text-align: center;
  vertical-align: middle;
  margin-left: 50px;
}

.fake-captcha__icon {
  display: block;
  font-size: 40px;
}

#sigils {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  mix-blend-mode: screen;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}

.sigil {
  display: block;
  flex: 1;
  position: relative;
  transition: opacity 1s;
  opacity: 1;
}

.sigil--hidden {
  opacity: 0;
}

.sigil:nth-of-type(2) {
  flex: 2;
}

.sigil-video {
  opacity: 0.4;
  position: relative;
  z-index: 1;
  width: 100%;
}

.sigil-video--blur {
  filter: blur(10px);
  opacity: 1;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

/* this disables styling of GMaps Info Windows */
.gm-style .gm-style-iw-c {
  background: none;
  box-shadow: none;
  /* pointer-events: none; */
}

.gm-style-iw-tc {
  display: none;
}

.gm-style-iw-d {
  overflow: hidden !important;
}

.hud {
  position: fixed;
  top: 1rem;
  right: 1rem;
  z-index: 1;
}

.hud__dialog {
  background: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(10px);
  border: solid 1px white;
  color: white;
  margin: 0;
  position: fixed;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: 2;
  padding: 0;
  min-width: 300px;
  min-height: 300px;
}

.hud__dialog-header {
  border-bottom: solid 1px white;
  padding: 0.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hud__dialog-content {
  padding: 0.5rem;
}

.hud__button, .hud__dialog-close {
  cursor: pointer;
  color: inherit;
  background: #6ffb6f;
  border-color: #12548e;
  font: inherit;
  padding: 0.5rem;
}

.hud__display {
  color: white;
  font-size: 0.5rem;
}

.inventory {
  --cell-size: 150px;
  display: grid;
  list-style-type: none;
  margin: 0;
  padding: 0;
  grid-template-columns: repeat(3, var(--cell-size));
  min-height: var(--cell-size);
}

.inventory__cell {
  height: var(--cell-size);
  width: var(--cell-size);
}

.inventory__cell figure {
  margin: 0;
}

.inventory__cell img {
  display: block;
  width: calc(100% - 2rem);
  margin: 0 auto;
}

.inventory__cell figcaption {
  text-align: center;
}

.chapters__chapter--complete::after {
  content: '[COMPLETE]';
}

.intro {
  background: pink;
  font-size: 1.382rem;
  transition: opacity 5s;
}

.intro__landscape {
  animation: fade-in 500ms both, slide-in 1s both;
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.intro h1 {
  animation: fade-in 500ms 500ms both;
  font-family: "Spicy Rice", serif;
  color: #fffc3c;
  font-size: 30vh;
  text-transform: uppercase;
  line-height: 1;
  justify-self: start;
  position: absolute;
  top: 0;
  margin-top: 0;
  white-space: nowrap;
  width: 100%;
  text-align: center;
  scale: 1 2.5;
  letter-spacing: -0.05em;
}

.intro__content {
  animation: fade-in 500ms 1.5s both;
  background: #6ffb6f;
  border: solid 1rem pink;
  color: #12548e;
  padding: 2rem;
  position: relative;
  z-index: 1;
  text-align: center;
}

.intro__disclaimer {
  font-size: 0.75rem;
  max-width: 700px;
}

.intro__cta {
  appearance: none;
  background: none;
  border: solid 1px #12548e;
  color: inherit;
  cursor: pointer;
  font: inherit;
  padding: 1rem;
}

.map-container .vg-item {
  animation: none;
  width: 300px;
  height: 300px;
  position: relative;
  top: 3rem;
}

.debug .vg-item {
  border: solid 1px red;
}

.handheld-item {
  animation: handheld 1s infinite;
  position: fixed;
  z-index: 2;
  bottom: -7rem;
  right: 7rem;
  pointer-events: none;
}

.handheld-item .vg-item {
  animation: slide-in-full 1s both;
}
